.movie-card {
  position: relative;
  display: inline-block;
}

.movie-card img {
  width: 220px;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}
.movie-card p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  
}
