.homepage{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent,black 60%);
    -webkit-mask-image: linear-gradient(to right, transparent,black 60%);
    
}
.home-banner-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.home-banner-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;

}
.home-default-btn{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.home-default-btn .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    background: rgba(255, 255, 255, 0.8);

}
.home-default-btn .btn img{
    width: 25px;
}

.home-default-btn .btn.dark-btn{
    color: #fff;
    background: rgba(95, 95, 95, 0.7);
}
.home-default-btn .btn:hover{
    background: rgba(212, 211, 211, 0.8);

}
.home-default-btn .btn.dark-btn:hover{
    background: rgba(73, 73, 73, 0.8);
}

.more-movies{
    padding-left: 6%;
}
